@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&display=swap');
* {
  font-family: 'Big Shoulders Inline Text', cursive;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}

.scene {
  height: 0;
  left: 50%;
  padding-top: 15.72%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 45%;
}
.scene__wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.scene__image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.scene__image--main {
  z-index: 2;
}
.scene__image--left {
  fill: #43e7e9;
  left: -.35vw !important;
  top: -.2vw !important;
}
.scene__image--right {
  fill: #dd3334;
  right: -.35vw;
  left: auto !important;
  top: auto !important;
  bottom: -.2vw;
}
